html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

#displayTime {
    font-size: 15rem;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px auto;
    width: fit-content;
}

.buttons button {
    background: white;
    color: black;
    border: none;
    padding: 20px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    font-size: 2rem;
    transition: all .2s ease;
}

.buttons button:hover {
    background: #0d0d0d;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}