html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

#displayTime {
    font-size: 12rem;
    margin-bottom: 20px;
    white-space: wrap;
}

@media (max-width: 768px) {
    #displayTime {
        font-size: 6rem;
    }
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px auto;
    width: fit-content;
}

.buttons button {
    background: white;
    color: black;
    border: none;
    padding: 20px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    font-size: 3rem;
    transition: all .2s ease;
}

.buttons button:hover {
    background: #0d0d0d;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}